<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>

<div class="container">
  <flash-messages></flash-messages>  
  <!--<router-outlet></router-outlet>-->
  <!--<app-register [placeholder]="'Custom Placeholder'"></app-register>-->
  <app-register #sample placeholder="Custom Placeholder"  #picker [color]="color" (color)="color = $event"></app-register>
   <color-previewer #previewer [color]="color"></color-previewer>
  <button (click)="picker.reset()">Reset</button> 
  <input (keyup)="sample.color = input.value" #input placeholder="Type your color here">

  <div collapse-on-click #panel="cp" 
  class="card card-strong disable-text-selection">

      <i class="md-icon collapsible-indicator" *ngIf="!panel.collapsed">arrow_drop_down</i>
      <i class="md-icon collapsible-indicator" *ngIf="panel.collapsed">arrow_drop_up</i>

      <div class="collapsible-section" *ngIf="!panel.collapsed">   
      This page section is collapsible, double click it and it will collapse or expand.
      </div>
  </div>
  

</div>
